<h1>
    {{ ( comida.id ) ? 'Editar' : 'Nuevo' }} Comida: <small>{{ comida.nombre | titlecase }}</small>
</h1>
<mat-divider></mat-divider>
<br>

<div fxLayout="row" 
     fxLayout.xs="column"
     fxLayoutGap="40px">

    <div fxFlex="50" 
         fxLayout="column">

        <mat-form-field>
            <mat-label>Nombre de la comida:</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="comida.nombre"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Descripción</mat-label>
            <input matInput
                   type="text"
                   [(ngModel)]="comida.descripcion"
                   required>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Foto URL</mat-label>
            <input matInput
                   type="url"
                   [(ngModel)]="comida.imagenUrl">
        </mat-form-field>

        <br>
        
        <div fxLayout>
            <button mat-raised-button color="primary"
                    (click)="guardarComida()">
                <mat-icon>save</mat-icon>
                {{ ( comida.id ) ? 'Actualizar' : 'Crear' }} 
            </button>
        
            <div class="spacer"></div>

            <button *ngIf=" comida.id "
                    mat-raised-button color="warn"
                    (click)="borrarComida()">
                <mat-icon>remove</mat-icon>
                Borrar
            </button>
        </div>
    </div>

    <div fxFlex="50">
        <img [src]="comida | comidaImagen" alt="img not found">
    </div>
</div>